{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4);">
            <b>📞 Get in Touch 📞</b>
        </h1>
        <p class="lead" style="font-weight: 500; color: black;">
            Have questions or suggestions? Reach out to us! We're here to assist you with anything you need.
        </p>
    </div>
</div>


<div class="row p-3">

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Sahana A S</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Sahana A S. I am an entrepreneur, currently
                    co-founder at KrsikX India LLP which is an Agri-Tech Startup. Pursuing bachelors in Information
                    Technology. My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:sahanaas@gmail.com'><img
                        src="/static/images/mail.jpeg" height="40" width="40"></a> :
                sahanaas@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
                    src="/static/images/insta.jpeg" height="44"
                    width="44"></a> :Sahana A S<br><br>
                <a target="_blank" href='https://github.com/vireshhubballi'><img
                        src="/static/images/git.jpeg" height="44" width="44"></a> :
                        Sahana A S<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="/static/images/linkedin.png" height="40" width="40"></a> :
                Sahana A S<br>
            </div>
        </div>
    </div>


    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Sushmitha Ganiga</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Sushmitha Ganiga. I am an entrepreneur, currently
                    co-founder at KrsikX India LLP which is an Agri-Tech Startup. Pursuing bachelors in Information
                    Technology. My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ganigasushmitha28@gmail.com'><img
                        src="/static/images/mail.jpeg" height="40" width="40"></a> :
                    ganigasushmitha28@gmail.com<br><br>
                    <a target="_blank" href='https://www.instagram.com/sushmi_29_ganiga/'><img
                        src="/static/images/insta.jpeg" height="44" width="44"></a> :
                Sushmitha Ganiga<br><br>
                <a target="_blank" href='https://github.com/Sushmi-29'><img
                    src="/static/images/git.jpeg" height="44"
                    width="44"></a> : Sushmitha Ganiga<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="/static/images/linkedin.png" height="40" width="40"></a> :
                Sushmitha Ganiga<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Viresh Hubballi</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Viresh Hubballi. Currently Pursuing Bachelors in
                    Computer Science and Engg.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                    </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:vireshhubballi909@gmail.com'><img
                        src="/static/images/mail.jpeg" height="40" width="40"></a> :
                        vireshhubballi909@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/viresh_hubballi'><img
                        src="/static/images/insta.jpeg" height="44"
                        width="44"></a> : Viresh Hubballi<br><br>
                <a target="_blank" href='https://github.com/vireshhubballi'><img
                        src="/static/images/git.jpeg" height="40" width="40"></a> :
                Viresh Hubballi<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/viresh-hubballi'><img
                        src="/static/images/linkedin.png" height="40" width="40"></a> :
                Viresh Hubballi<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Yashwanth M S</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Yashwanth M S. I am an entrepreneur, currently
                    co-founder at KrsikX India LLP which is an Agri-Tech Startup. Pursuing bachelors in Information
                    Technology. My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:yashwanthms2005@gmail.com'><img
                        src="/static/images/mail.jpeg" height="40" width="40"></a> :
                yashwanthms2005@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/yashwanth_gowda_______'><img
                    src="/static/images/insta.jpeg" height="44"
                    width="44"></a> : Yashwanth M S<br><br>
                <a target="_blank" href='https://github.com/yashwanthms25'><img
                        src="/static/images/git.jpeg" height="44" width="44"></a> :
                Yashwanth M S<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/yashwanth-m-s-b4a44327a'><img
                        src="/static/images/linkedin.png" height="40" width="40"></a> :
                Yashwanth M S<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}